
#header_container h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#left_container li {
    margin-left: -2em;
}

div.thebox {
    margin-left:    2em;
    margin-right:   2em;
    padding-top:    2em;
    padding-bottom: 2em;
    padding-left:   2em;
    padding-right:  2em;
    border: 3px solid #555;
    background-color: #eed;
}

div.set_form {
    margin-left: 2em;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-color: #edb;
}

/* ---------------------------------------------- */
/* Portfolio */

table.tChart {
    border-collapse: collapse;
}

table.tChart col.left {
    border-right: 1px solid #000;
}

table.tChart tr.header {
    border-bottom: 1px solid #000;
}

table.tChart td {
    vertical-align: top;
    padding-left: 2em;
    padding-right: 2em;
}

table.tChart td h4 {
    font-size: normal;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
}

table.stocksTable th {
    font-size: normal;
    font-weight: normal;
    color: #444;
    padding-right: 2em;
}

/* ---------------------------------------------- */
/* Trading (myActions) */

table.buyStock td {
    text-align: right
}

table.buyStock input {
    width: 4em;
}

div.buyStock {
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.2em;
    background-color: #edc;
    border-radius: 5px;
}

div.sellDerivative {
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.2em;
    background-color: #dec;
    border-radius: 5px;
}

/* ---------------------------------------------- */
/* Forms */

.inputError {
    font-size: small;
    color: #900;
}

.inputSuccess {
    font-size: small;
    color: #090;
}

.choices {
    list-style-type: none;
}






/* foo */
html {
    font-family: sans-serif;
}

#search {
    width: 770px;
    margin: 0 auto;
}

/* Search */
#search-query {
    position: relative;
    height: 55px;
    margin-bottom: 0.4em;
}

#search-query input[type=text] {
    position: absolute;
    left:  0;
    right: 50px;
    padding: 4px;
    height: 40px;
    font-size: 1.5em;
    border: 1px solid #333;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#search-query input[type=submit] {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: #EEE;
}

/* */
.block {
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0.2em;
    margin-top: 0.5em;
}

/* Quote */
#search-quote {
    position: relative;
    padding: 0.2em;
}

.quote {
    height: 110px;
}

.quote h2 {
    width: 40%;
    overflow: hidden;
    margin-top:  0.5em;
    margin-left: 0.2em;
}

.quote h2 .quote-ticker {
    font-weight: bold;
    font-size: 1.5em;
}

.quote h2 .quote-company {
    font-size: 1.2em;
}

.quote h3 {
    width: 40%;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

.quote h3 .quote-price {
    width: 40%;
    overflow: hidden;
    font-weight: bold;
    font-size: 2.5em;
}

.quote h3 .quote-change {
    font-size: 1.5em;
    margin-left: 1em;
}

.quote dl {
    position: absolute;
    top: 0.2em;
    left: 40%;
    right: 245px;
    padding: 0.5em 0;
    font-size: 1.2em;
}

.quote dl dt {
    width: 45%;
    margin-right: 5%;
    float: left;
    text-align: right;
}

.quote dl dt:after {
    content: ":";
}

.quote dl dl {
    width: 50%;
    float: left;
}

.quote img {
    position: absolute;
    top: 0.2em;
    right: 0;
}

/* */
table#search-list {
    width: 100%;
    padding: 0;
    background: #EEE;
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 6px;
}

table#search-list td {
    padding: 0.3em;
}

table#search-list th {
    font-weight: bold;
    padding: 0.3em;
}

table#search-list thead th,
table#search-list thead td {
    text-align: center;
    border-bottom: 1px solid #000;
}

table#search-list tbody {
    background: #FFF;
}

table#search-list tfoot th,
table#search-list tfoot td {
    border-top: 1px solid #000;
}

table#search-list .search-list-ticker,
table#search-list .search-list-company,
table#search-list .search-list-price,
table#search-list .search-list-shares,
table tfoot th {
    border-right: 1px solid #000;
}

table tfoot .search-list-total {
    text-align: right;
    border-right: 1px solid #000;
    background: #FFF;
}

table .search-list-ticker   { text-align: left;   width: 10%; }
table .search-list-company  { text-align: left;   width: 40%; }
table .search-list-price    { text-align: right;  }
table .search-list-shares   { text-align: center; }
table .search-list-subtotal { text-align: right;  }
table .search-list-buttons  { text-align: left;   width: 100px; }
