<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/servlet/testservlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LeagueTestServlet</servlet-name>
        <servlet-class>servlets.LeagueTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LeagueTestServlet</servlet-name>
        <url-pattern>/servlet/leaguetest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>servlets.BuyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/servlet/buyservlet</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>SellServlet</servlet-name>
        <servlet-class>servlets.SellServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SellServlet</servlet-name>
        <url-pattern>/servlet/sellservlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>GetPortfolio</servlet-name>
        <servlet-class>servlets.GetPortfolio</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPortfolio</servlet-name>
        <url-pattern>/servlet/getportfolio</url-pattern>
    </servlet-mapping>

	
	<servlet>
        <servlet-name>StockUpdates</servlet-name>
        <servlet-class>servlets.StockUpdates</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StockUpdates</servlet-name>
        <url-pattern>/servlet/stockupdates</url-pattern>
    </servlet-mapping>


	<servlet>
        <servlet-name>LeaderBoard</servlet-name>
        <servlet-class>servlets.LeaderBoard</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LeaderBoard</servlet-name>
        <url-pattern>/servlet/leaderboard</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>NewPortfolio</servlet-name>
        <servlet-class>servlets.NewPortfolio</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewPortfolio</servlet-name>
        <url-pattern>/servlet/newportfolio</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>FBGetPortfolio</servlet-name>
        <servlet-class>servlets.FBGetPortfolio</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FBGetPortfolio</servlet-name>
        <url-pattern>/servlet/fbgetportfolio</url-pattern>
    </servlet-mapping>

	


	<filter>
        <filter-name>LiftFilter</filter-name>
        <display-name>Lift Filter</display-name>
        <description>The Filter that intercepts lift calls</description>
        <filter-class>net.liftweb.http.LiftFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LiftFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>

