/* ---------------------------------------------- */
/* News */

#right-container {
    color: #D8CBC4;
    background: #7F6152;
}

a {
    color: #FFF;
}

/* ---------------------------------------------- */
/* Forms */

span.input-error {
    position: relative;
}

span.input-error span.error {
    position: absolute;
    padding: 0.3em;
    top: 0;
    left: 110%;
    width: 250px;
    font-size: 10pt;
    background: #FFEBE8;
    border: 1px solid #DD3C10;
    border-radius: 3px;
}

.inputError {
    font-size: small;
    color: #900;
}

.inputSuccess {
    font-size: small;
    color: #090;
}

.choices {
    list-style-type: none;
}

.field-annotation {
    font-size: small;
    color: #999;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

.chain {
    display: inline;
    position: relative;
}

/* General Style */
html {
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: url('/static/images/woven.png') repeat;
}

body {
    width: 100%;
    height: 100%;
}

#center-container {
    padding-right: 20px;
}

.no_items {
    font-size: 9pt;
}

table.boxy {
    width: 90%;
    padding: 0;
    margin: 1em  5%;
    background: #EEE;
    background: #7F6152;
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 6px;
}

table.boxy td {
    padding: 0.3em;
}

table.boxy th {
    font-weight: bold;
    padding: 0.3em;
}

table.boxy thead th,
table.boxy thead td {
    text-align: center;
    border-bottom: 1px solid #000;
}

table.boxy thead {
    color: #FFF;
}

table.boxy tbody {
    background: #D8CBC4;
}

table.boxy tfoot th,
table.boxy tfoot td {
    border-top: 1px solid #000;
}

/* Header */
h1 {
    font-size: 5em;
    font-family: 'Cuprum', sans-serif;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
}

h1 a {
    font-style: normal;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

#account {
    position: absolute;
    right: 2em;
    bottom: 1.5em;
    color: #D8CBC4;
    font-size: 11pt;
}

/* Search */
#search-query {
    position: relative;
    width: 100%;
    height: 52px;
    margin-bottom: -0.15em;
}


#search-query #search-query-field {
    width: 100%;
    height: 40px;
    padding: 4px 4px;
    font-size: 1.5em;
    border: 1px solid #333;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#search-query #search-query-field-hack {
    position: absolute;
    top: 0;
    left:  0px;
    right: 58px;
}

#search-query #search-query-button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: #EEE;
}

/* */
.block {
    background: #D8CBC4;
    border-radius: 6px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.block h2 {
    color: #413129;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.block a,
.block a:active,
.block a:hover,
.block a:visited {
    color: #000;
}

form.block {
    border: none;
    padding: 0;
    margin: 0;
}

.buttons {
    text-align: center;
}

/* Instructions */
#search-instructions {
    height: 110px;
    height: auto !important;
    height: 110px;

    font-size: 16pt;
    line-height: 1.5em;
    padding: 0.4em;
    cursor: default;
}

#search-instructions ol {
    padding-top: 0.1em;
    padding-left: 50px;
    list-style-type: decimal;
}
/* Quote */
#search-quote {
    position: relative;
    padding: 0.2em;
    cursor: default;
}

.quote {
    min-height: 110px;
    height: auto !important;
    height: 110px;
}

.quote h2 {
    width: 40%;
    overflow: hidden;
    margin-top:  0.5em;
    margin-left: 0.2em;
}

.quote h2 .quote-ticker {
    font-weight: bold;
    font-size: 20pt
}

.quote h2 .quote-company {
    font-size: 16pt;
}

.quote h3 {
    width: 40%;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

.quote h3 .quote-price {
    width: 40%;
    overflow: hidden;
    font-weight: bold;
    font-size: 26pt;
}

.quote h3 .quote-change {
    font-size: 20pt;
    margin-left: 1em;
}

.quote dl {
    position: absolute;
    top: 0.2em;
    left: 40%;
    right: 245px;
    padding: 0.5em 0;
    font-size: 12pt;
}

.quote dl dt {
    width: 45%;
    margin-right: 5%;
    float: left;
    text-align: right;
}

.quote dl dt:after {
    content: ":";
}

.quote dl dl {
    width: 50%;
    float: left;
}

.quote img {
    position: absolute;
    top: 0.2em;
    right: 0;
}

/* Buy/Add Option */
p.price-input {
    margin: 1em 5em;
    font-size: 16pt;
}

/* Derivative Builder */
#search-derivative {
    padding: 0.5em;
    line-height: 1.5em;
}

input.blank {
    width: 8em;
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
}
 
#search-derivative h3 {
    color: #413129;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
}

#search-derivative p {
    margin-top: 1em;
}

.builder-block {
    width: 50%;
    float: left;
}

.builder-block dl dt {
    width: 120px;
    float: left;
    clear: both;
}

.builder-block dl dd {
    float: right;
    width: 210px;
}

#derivative-money input {
    width: 100px;
    text-align: left;
}

input#derivative-money-then,
input#derivative-money-now {
    width: 70px;
}

input#derivative-early {
    margin-right: 2em;
}

#derivative-conditions input.condition {
    width: 6em;
}


/* List in Derivative Builder */
table tfoot th {
    border-right: 1px solid #000;
}

table.derivative-stock-list {
}

td.search-list-shares {
    text-align: center;
}

td.search-list-shares input {
    width: 4em;
}


/* ------------------------------------------------------------------ */
/* Portfolio */

.portfolio-block {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

.portfolio-block h2 {
    margin-left: 0.5em;
}

table.tchart {
    background:
}

table#portfolio,
table#portfolio tr,
table#portfolio td {
    vertical-align: top;
}

table#portfolio {
    position: relative;
    left: 0%;
    width: 100%;
}

#portfolio a {
    color: #000;
}

.tchart-half {
    position: relative;
}

table.tchart th {
    color: #000;
}

table.tchart {
    position: relative;
    left: 0%;
    width: 100%;
}

table#portfolio,
table.tchart {
    background: transparent;
}

table.tchart .buttons {
    text-align: right;
    padding-left: 0.5em;
}

tr.tchart-top,
tr.tchart-top td {
    border-bottom: 1px solid #000;
}

col.tchart-left1  { width: 25%; }
col.tchart-left2  { width: 25%; }
col.tchart-right1 { width: 25%; }
col.tchart-right2 { width: 25%; }

col.tchart-left2 {
    border-right: 1px solid #000;
}

td.tchart-top {
    text-align: center;
}

td.tchart-half {
    text-align: left;
    vertical-align: top;
}

.tchart h3 {
    font-weight: bold;
}

.tchart td {
    padding-left:   2px;
    padding-right:  4px;
    padding-top:    4px;
    padding-bottom: 2px;
}

.tchart-ticker {
    font-size: 0.95em;
    font-color: #333;
}

.tchart-price {
    font-size: 10pt;
    text-align: right;
}

.tchart-dollars {
    color: #090;
    font-size: 1.2em;
    font-family: monospace;
    text-align: right;
}

.tchart-section {
    background-color: #eee;
}

.tchart-section {
    font-weight: bold;
}

tr.tchart-total,
tr.tchart-total td {
    border-top: 2px solid #555;
}

tr.deriv-row,
tr.deriv-row td {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

tr.deriv-header {
    padding-top: 0.5em;
}

/* ------------------------------------------------------------------ */
/* Pending Offers */

#offers table {
    padding-bottom: 6px;
}

#offers table div,
#offers table form {
    /* Hack to ignore all of the block elements that Lift inserts. */
    display: inline;
}

/* ------------------------------------------------------------------ */
/* User Page */

#user-page h2 {
    font-size: 2em;
}

/* ------------------------------------------------------------------ */
/* Sidebar */
.sidebar {
    padding: 10px;
    color: #D8CBC4;
    background: #7F6152;
    border-radius: 6px;
}

.sidebar ul {
    margin-bottom: 1em;
}

.sidebar h3 {
    color: #FFF;
    font-weight: bold;
    font-size: 14pt;
}

.news {
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 10pt;
    height: 9em;
    overflow: hidden;
}

/* Auction Table */
.auction th {
    color: #FFF;
    text-align: right;
}
.auction td {
    color: #000;
    background: #D8CBC4;
}
