
div#body {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

div#center-outer {
    float: left;
    width: 100%;
}

div#center-container {
    margin-right: 275px;
}

div#right-outer {
    float: left;
    width: 230px;
    margin-left: -275px;
}

